
# OSX
#
.DS_Store

# node.js
#
example/node_modules/
example/npm-debug.log
example/yarn-error.log

# Xcode
#
project.xcworkspace
ios/Fidel.xcodeproj/xcuserdata/*
ios/Fidel.xcodeproj/project.xcworkspace/xcuserdata/*

# Android/IntelliJ
#
android/build/
android/.idea
android/.gradle
android/local.properties
android/*.iml
android/gradle
android/gradlew
android/gradlew.bat

example/android/app/KeyStore/*

fidel-react-native-*.tgz

yarn.lock
node_modules/.yarn-integrity
