
# OSX
#
.DS_Store

# node.js
#
node_modules/
example/node_modules/
example/npm-debug.log
example/yarn-error.log

# Xcode
#
project.xcworkspace
ios/Fidel.xcodeproj/xcuserdata/*
ios/Fidel.xcodeproj/project.xcworkspace/xcuserdata/*

# Android/IntelliJ
#
android/build/
android/.idea
android/.gradle
android/local.properties
android/*.iml

example/android/app/KeyStore/*
