
# OSX
#
.DS_Store

# node.js
#
example/node_modules/
example/npm-debug.log
example/yarn-error.log

# Xcode
#
project.xcworkspace

# Android/IntelliJ
#
android/build/
android/.idea
android/.gradle
android/local.properties
android/*.iml
      